.slider {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 500px;
}

.slider__button {
  @include hide-text();
  position: absolute;
  bottom: 140px;
  z-index: 1;

  opacity: 0.4;
  background-color: transparent;
  border: none;

  &--previous {
    left: 20px;
  }

  &--next {
    right: 20px;
  }

  &:hover,
  &:focus {
    fill: $yellow;
    opacity: 1;
    outline: none;
  }
}

.slider__image-wrap {
  background-color: $yellow;

  &--top {
    position: absolute;
    top: 0;
    left: -50px;

    min-height: 185px;

    clip: rect(0, 290px, 180px, 50px);
  }
}

.slider__image {
  display: block;
  min-height: 320px;

  opacity: 0.4;

  &--first {
    opacity: 0.2;
  }
}

.slider__image--first-animation-fast {
  animation: bounce-left 1s ease-in-out;
}

.slider__image--second-animation-fast {
  animation: bounce-right 1s ease-in-out;
}

.slider__image--first-animation-slow {
  animation: bounce-left 3s ease-in;
}

.slider__image--second-animation-slow {
  animation: bounce-right 3s ease-in;
}

.slider__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider__image-wrap {
    &--top {
      top: -300px;

      clip: rect(0, 490px, 300px, 50px);
    }
  }

  .slider__image {
    width: 100%;
    height: 500px;

    &--first {
      width: 490px;
      height: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider__image-wrap {
    max-width: 860px;

    &--top {
      top: -70px;
      left: 0;

      clip: auto;
    }

    &--bottom {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .slider__image {
    width: 860px;
    height: 490px;

    opacity: 0.2;

    &--first {
      width: 800px;
      height: 525px;
    }
  }

  .slider__button {
    &--next {
      right: 195px;
      top: 260px;
    }

    &--previous {
      left: 855px;
      top: 260px;
    }

    &:hover,
    &:focus {
      fill: $black;
    }
  }

  .slider__text {
    position: absolute;
    top: 40px;
    left: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 3px 24px 0 24px;

    font-family: "Geometria", "Arial", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: $white;
    text-transform: uppercase;

    border-radius: 50%;
    border: 1px solid $black;
  }
}
